@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

::-webkit-scrollbar{
  width: 0.3em;
}

::-webkit-scrollbar-thumb{
  background-color: #467599;
  border-radius: 5px;
}

::-webkit-inner-spin-button{
  display: none;
}

html{
  height: 100%;
}

body{
  background-color: #ffffff;
  font-family: 'Glory', sans-serif;
  height: 100%;
}

#root{
  display: grid;
  justify-items: center;
  height: 100%;
  align-items: center; 
}

.main .dropdown-content{
  visibility: visible !important;
  opacity: 1 !important;
}

.activeChat{
  background-color: #28c7ce;
  transition: 0.3s ease-in-out;
}

.backIcon{
  display: none;
}


/* Mobile View */

@media (max-width: 500px){  
  
  .home{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  
  .main{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
  }
  
  .showMain{
    left: 0;
  }
  
  .aside{
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    transition: right 0.5s ease;
  }
  
  .showAside{
    right: 0;
  }

  .backIcon{
    display: grid;
  }

}